<div class="col-md-12" style="margin-bottom: 5px; ">
    <div class="card text-center border border-primary">
        <h3 class="card-title text-uppercase" style="color: rgb(44, 142, 253);">
            Editar al equipo
        </h3>
    </div>
</div>
<link rel="stylesheet" href="/css/teams.css">
<div class="card-body">
    <form action="/dueños/edit-dueños/{{dueño.id}}" method="POST">
        <div id="logo"></div>
        <div id="title">Crear</div>
        <div id="sub-title">Equipo a ser agregado</div>
        <div id="input">
            <div id="inputBox">
                <label>nombre dueño</label>
                <input type="text" value="{{dueño nombre_dueño}}" name="nombre dueño" class="form-control"
                    placeholder="Nombre Dueño" />
            </div>
            <div id="inputBox">
                <label>apellido dueño</label>
                <input type="text" value="{{dueño.apellido_dueño}}" name="apellido dueño" class="form-control"
                    placeholder="Apellido Dueño" />
            </div>
            <div id="inputBox">
                <label>correo electronico</label>
                <input type="text" value="{{dueño.correo_electronico}}" class="form-control" name="correo electronico"
                    placeholder="Correo Electronico" autofocus />
            </div>
            <div id="inputBox">
                <label>telefono</label>
                <input type="text" value="{{dueño.telefono}}" name="telefono" class="form-control"
                    placeholder="telefono" />
            </div>           
            <div id="inputBox">
                <input type="submit" value="Guardar" />
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>




